// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: lato, sans-serif;
    font-size: 1.1rem;
}

.container {
    padding: 4rem 2rem 8rem 2rem;
}

/*
lightest-gray: #F8F8F8
light-gray: #F0F0F0
gray: #C0C0C0
dark-gray: #A9A9A9
darkest-gray: #808080
almost-black: #505050
*/

a, a:focus, a:hover {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #505050;
}

input {
    overflow: hidden;
}

input:focus {
    outline: 2px solid #000;
}

/*--- GENERAL ---*/
.COF-text-primary {
    color: #DC8418;
}

.COF-text-special {
    color: #E8B921;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
}

.COF-text-grey {
    color: #505050;
}

.COF-section-header {
    margin-bottom: 4rem;
}

.COF-grey-box {
    border: 1px solid #A9A9A9;
    background-color: #F0F0F0;
}

.COF-primary-box {
    border: 1px solid #DC8418;
    background-color: #EBDBCA;
    color: #DC8418;
    margin: 0 .1rem;
}

.COF-grey-box input {
    width: 3rem;
}

/*--- BUTTONS ---*/
.COF-btn-primary {
    background-color: #DC8418;
    color: #FFF;
    padding-left: 2rem;
    padding-right: 2rem;
}

.COF-btn-primary:hover, .COF-btn-primary:active {
    background-color: #9E331E;
    color: #FFF;
}

.COF-btn-black {
    background-color: #000;
    color: #FFF;
    padding-left: 2rem;
    padding-right: 2rem;
}

.COF-btn-black:hover {
    background-color: #505050;
    color: #FFF;
}

.COF-btn-outline {
    background-color: #FFF;
    color: #000;
    line-height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    font-size: 1.1rem;
}

.COF-btn-group .btn {
    margin-left: .5rem;
}

.text-lg {
    font-size: 1.5rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-sm {
    font-size: .9rem;
}

.text-black {
    font-weight: 700;
}

/*--- NAVBAR ---*/
.navbar img {
    margin-right: .5rem;
    width: 2rem;
}

.lnr {
    vertical-align: text-bottom;
    font-size: 1.2rem;
}

/*--- FOOTER ---*/
.footer {
    background-color: #FFF;
    bottom: 0;
    height: 3rem;
    line-height: 2rem;
    position: fixed;
    width: 100%;
}

/*--- MODALS ---*/
.modal-dialog {
    margin-top: 7rem;
}

.modal-content {
    border: none;
}

.modal-body, .COF-modal-footer {
    margin: 0 3rem;
}

.COF-modal-title, .COF-modal-footer {
    padding: 1rem;
    text-align: center;
}

.COF-modal-cross {
    text-align: end;
}

/*--- FORMS ---*/
.COF-input-grey, .COF-input-grey:focus {
    background-color: #F0F0F0;
    border: none;
    color: #000;
}

.COF-form-btn {
    height: 3rem;
}

.input-group button {
    line-height: initial;
}

/*--- PAGES ---*/
.article-image {
    width: 70%;
}

.project-img {
    height: 25vh;
    max-height: 30vh;
    max-width: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

/*--- CARDS ---*/
.card {
    border: none;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
}

.card-img-top {
    height: 20vh;
    max-height: 25vh;
    max-width: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

a.card {
    color: #000000;
    text-decoration: none;
}

.COF-coffee-counter {
    bottom: 0;
    padding: 1.2rem;
    position: absolute;
    right: 0;
}

/*--- PAGINATION ---*/
.pagination {
    justify-content: flex-end;
}

.pagination a {
    color: #000000;
}

.pagination a:hover  {
    //color: #D2840F;
    color: #E59010;
}