body {
    font-family: lato, sans-serif;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input:focus {
    outline: 2px solid #000;
}

/*--- GENERAL ---*/
.COF-text-primary {
    color: #CF4327;
}

.COF-primary {
    background-color: #CF4327;
    color: #FFF;
    padding-left: 2rem;
    padding-right: 2rem;
}

.COF-black {
    background-color: #000;
    color: #FFF;
    padding-left: 2rem;
    padding-right: 2rem;
}

.COF-outline {
    background-color: #FFF;
    color: #000;
    line-height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    font-size: 1.1rem;
}

.COF-btn-group .btn {
    margin-left: .5rem;
}

.text-lg {
    font-size: 1.5rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-sm {
    font-size: .9rem;
}

.black {
    font-weight: 700;
}

/*--- NAVBAR ---*/
.navbar img {
    margin-right: .5rem;
    width: 2rem;
}

.navbar .lnr {
    vertical-align: text-bottom;
}

/*--- FOOTER ---*/
.footer {
    background-color: #FFF;
    bottom: 0;
    height: 3rem;
    line-height: 2rem;
    position: absolute;
    width: 100%;
}

/*--- INDEX ---*/
.article-image {
    width: 100%;
}

.index {
    font-weight: 700;
}

/*--- MODALS ---*/
.modal-dialog {
    margin-top: 7rem;
}

.modal-content {
    border: none;
}

.modal-body, .COF-modal-footer {
    margin: 0 3rem;
}

.COF-modal-title, .COF-modal-footer {
    padding: 1rem;
    text-align: center;
}

.COF-modal-footer {
    margin-bottom: 1rem;
}

.COF-modal-cross {
    text-align: end;
}

/*--- FORMS ---*/
.COF-input-grey, .COF-input-grey:focus {
    background-color: #F2F2F2;
    border: none;
    color: #000;
}

.COF-form-btn {
    height: 3rem;
}