{% extends "layout.html" %}

{% block main %}
<div class="container">
    <section class="row">
        <div class="col-12 card text-center">
            <div class="card-body">
                <h1 class="card-title">Error {{ code }}</h1>
                <p class="card-text COF-text-grey">{{ message }}</p>
                <div class="mt-5">
                    <a href="/" class="btn COF-btn-outline">Homepage</a>
                    {% if  referrer != None %}
                        <a href="{{ referrer }}" class="btn COF-btn-primary">Go back</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}