{% extends "layout.html" %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 text-lg">
            <h3 class="COF-text-primary text-black">Coffee me blablalba</h3>
            <p>It's an easy and friendly way to fund your work.</p>
            <p>You can accept support, memberships, and build a direct relationship with your fans in really straight forward way.</p>
            <p>Your supporters will love it.</p>
        </div>
        <div class="col">
            <img class="article-image float-right" src="../static/images/coffees.png" alt="reading">
        </div>
        <section class="mx-auto my-5 text-md">
            <span class="mx-4">You can also discover new projects</span>
            <a href="/projects" class="btn COF-btn-primary">Explore projects</a href="/projects">
        </section>
    </div>
</section>
{% endblock %}
