{% extends "layout.html" %}

{% block main %}
    <div id="login" class="modal" tabindex="1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <span type="button" class="close COF-modal-cross lnr lnr-cross m-2 text-md" data-dismiss="modal"></span>
                <div class="COF-modal-header">
                    <h5 class="COF-modal-title text-md">Welcome back!</h5>
                </div>
                <form action="/login" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="COF-input-grey form-control" autocomplete="off" autofocus name="email" placeholder="Email" type="email">
                        </div>
                        <div class="form-group">
                            <input class="COF-input-grey form-control" name="password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="COF-modal-footer">
                        <button class="btn COF-form-btn COF-primary form-control" type="submit">Login</button>
                        <p class="text-sm my-2">or
                            <span class="black" data-dismiss="modal" data-toggle="modal" data-target="#signp">Signup</span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
