{% extends "layout.html" %}

{% block main %}
<section class="my-project">
    {% if session.project_id %}
    <h3>My project</h3>
    {% else %}
    <h3>Create new project</h3>
    <form action="/my-project" method="POST">
        <div class="form-group">
            <label for="projectTitle">Title</label>
            <input type="text" class="form-control" id="projectTitle" name="title" placeholder="My Project">
        </div>
        <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea class="form-control" id="projectDescription" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="projectImage">Image</label>
            <input type="file" class="form-control-file" id="projectImage" name="image" placeholder="Image">
        </div>
        <div class="form-group">
            <button class="btn COF-form-btn COF-primary form-control" type="submit">Create</button>
        </div>
    </form>
    {% endif %}
</section>
{% endblock %}
    