{% extends "layout.html" %}

{% block main %}
<section class="my-project">
    {% if session.project_id %}
    <h3>My project</h3>
    <div class="shadow p-3 mb-5 my-5">
        <section class="container-fluid py-5">
            <div class="row">
                    <p>{{ project["title"] }}</p>
                    <p>You can accept support, memberships, and build a direct relationship with your fans in really straight forward way.</p>
                    <p>Your supporters will love it.</p>
                    <img class="article-image" src="{{ project["image"] }}" alt="reading">
            </div>
        </section>
    
        <section class="container-fluid text-center text-md my-5">
            <span class="mx-4">You can also discover new projects</span>
            <a href="/projects" class="btn COF-primary">Explore projects</a href="/projects">
        </section>
    </div>
    {% else %}
    <h3>Create new project</h3>
    <form action="/my-project" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="projectTitle">Title</label>
            <input type="text" class="form-control" id="projectTitle" name="title" placeholder="My Project">
        </div>
        <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea class="form-control" id="projectDescription" name="description" rows="3"></textarea>
        </div>
        <div class="custom-file">
            <label class="form-control custom-file-label" for="image">Image</label>
            <input type="file" class="form-control custom-file-input" id="projectImage" name="image" placeholder="Image">
        </div>
        <div class="form-group">
            <button class="btn COF-form-btn COF-primary form-control" type="submit">Create</button>
        </div>
    </form>
    {% endif %}
</section>
{% endblock %}
    